.tile-button {
  width: 15em;
  border: solid;
  height: 8em;
  display: flex;
  margin-top: 1em;
  background: #ff0000;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 1em auto;

  &:hover {
    cursor: pointer;
    background: #ec6666;
  }

  &_image {
    width: 8em;
    height: 6em;
    margin-top: 1em;
  }

  &_title {
    font-family: sans-serif;
    width: 7em;
    font-size: 18px;
    padding: 1em;
  }
}