.game-sort {
  font-family: sans-serif;
  padding: 1em;
  width: 44em;
  margin:auto;

  &_title {
    font-weight: bold;
  }

  &_controls {
    display: flex;
    flex-direction: row;
  }

  .button:hover {
    cursor: pointer;
    background: #ffff;
  }

  .button {
    width: 10em;
    height: 2em;
    border: solid 1px;
    box-shadow: 3px 2px #888888;
    margin: .5em 1em 0 0;
    background: #e00e11;

    span {
      display: inline-block;
      margin: .5em;
    }
  }

  &-item {
    &--selected {
      &.button {
        background: #e0d7d6;
        box-shadow: none;
      }
    }
  }
}