.header {
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
  background: #cdcdd4;
  border: solid 1px;
  display: flex;

  &_title {
    padding: .5em;
    display: inline-block;
    width: 100%;
  }

  &_go-back {
    button {
      width: 5em;
      height: 3em;
      margin: .5em;
      font-size: 18px;
      font-family: sans-serif;
      box-shadow: 3px 2px #888888;
    }

    button:hover {
     cursor: pointer;
      background: #ffff;
    }
  }
}